/* Import des fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Uniformisation document */

:root {
  /* fonts */
  --roboto: "Roboto", sans-serif;
  --marker: "Permanent Marker", cursive;
  --open: "Open Sans", sans-serif;
  /* colors */
  --green: #006a19;
  --blue: #02797e;
  --light-grey: #f2f4f2;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

h1,
h2 {
  font-family: var(--marker);
  color: var(--green);
  font-size: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-family: var(--marker);
  color: var(--blue);
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: var(--open);
}

a {
  font-family: var(--roboto);
  text-decoration: none;
}

img {
  width: 100%;
}

.container-1440 {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}

.title {
  display: flex !important;
  gap: 25px;
  align-items: center;

  hr {
    width: 90px;
    border: solid 2px var(--green);
  }
}

.green-button {
  display: block;
  width: fit-content;
  margin: auto;
  background: var(--green);
  color: var(--white);
  padding: 12px 24px;
  border-radius: 3px;

  &:hover {
    scale: 1.05 !important;
  }
}

/* Header */

header {
  padding-top: 10px !important;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  img {
    max-width: 200px;
  }

  nav {
    ul {
      width: 730px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 25px;
      padding: 0;

      li {
        a {
          font-size: 16px;
          font-weight: 600;
          color: var(--black);

          &:hover {
            color: var(--green);
          }
        }

        .active {
          color: var(--green);
        }
      }
    }
  }

  #burgermenu {
    display: none;
  }
}

/* Footer */

footer {
  text-align: center;
  padding: 25px;

  p,
  a {
    font-family: var(--open);
    color: var(--blue);
    font-size: 16px;
    font-weight: 400;
  }

  a:hover {
    color: var(--green);
  }
}

/* Main */

/* Section 1 : About us */

#about-us {
  background: var(--light-grey);
  padding: 30px 0;
  margin: 80px 0;

  div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    article {
      display: flex;
      flex-direction: column;
      gap: 35px;

      .green-button {
        margin-top: 25px;
      }
    }

    img {
      max-width: 700px;
      justify-self: center;
    }
  }
}

/* Section 2 : Our skills */

#skills {
  .title {
    justify-self: center;
  }

  .skills {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    article {
      padding: 15px;
      border-right: 1px solid var(--green);
      text-align: center;

      &:nth-child(4) {
        border-right: none;
      }

      i {
        font-size: 80px;
        color: var(--blue);
      }

      h3 {
        margin: 20px 0;
      }
    }
  }
}

/* Section 3 : Our clients */

#clients {
  background: var(--blue);
  padding: 80px 0;
  margin: 80px 0;

  .title {
    hr {
      border-color: var(--white);
    }
    h2 {
      color: var(--white);
    }
  }

  .clients {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 60px;
    padding: 80px 0;

    img {
      max-width: 176px;
      justify-self: center;
    }
  }
}

/* Section 4 : Our projects */

#projects {
  text-align: center;

  .title {
    justify-self: center;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px 0 70px 0;

    img {
      height: 300px;
      object-fit: cover;
    }
  }
}

/* Section 5 : Contact us */

#contact-us {
  background: var(--light-grey);
  margin-top: 80px;
  padding: 30px 0;

  .contact-us {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    align-items: center;

    article,
    form {
      padding: 30px;
    }

    article {
      p {
        display: grid;
        grid-template-columns: 22px auto;
        align-items: center;
        gap: 10px;
        padding: 5px 0;

        i {
          justify-self: center;
          font-size: 18px;
          color: var(--green);
        }

        &:nth-child(1) {
          padding-bottom: 35px;
          display: block !important;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-left: 22px;

      span {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:nth-child(4){
          flex-direction: row;
          gap: 3px;
          align-items: baseline;
        }
      }

      label,
      input,
      textarea {
        font-family: var(--open);
        font-size: 16px;
        font-weight: 400;

        &::placeholder {
          font-family: var(--open);
          font-size: 16px;
          font-weight: 400;
        }

      }

      input,
      textarea{
        padding: 10px 17px;
        border-radius: 4px;
        border: 1px solid #69727D;
      }

      textarea{
        resize: none;
        min-height: 108px;
      }

      input[type="submit"]{
        margin: 0;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

/* Responsive Tablette */

@media screen and (max-width:1024px) {
  /* Section 1 : About us */

  #about-us{
    .container-1440{
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  /* Section 2 : Skills */

  #skills{
    .skills{
      grid-template-columns: 1fr 1fr;

      article{
        &:nth-child(1){
          border-bottom: 1px solid var(--green);
        }
        &:nth-child(2){
          border-bottom: 1px solid var(--green);
          border-right: 0;
        }
      }
    }
  }

  /* Section 3 : Clients */

  #clients{
    .container-1440{
      .clients{
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  /* Section 4 : Projects */

  #projects{
    .projects{
      grid-template-columns: 1fr 1fr;
    }
    img{
      &:nth-child(3){
        grid-column: 1 / 3;
      }
    }
  }

  /* Section 5 : Contact */

  #contact-us{
    .container-1440{
      .contact-us{
        grid-template-columns: 1fr;
      }
    }
  }
}

/* Responsive Mobile */

@media screen and (max-width:767px) {
  /* Header */

  header{
    flex-direction: row;
    justify-content: space-between;

    img{
      max-width: 150px;
    }

    nav{
      display: none;
    }

    #burgermenu{
      display: block;
    }
  }

  /* Section 2 : Skills */

  #skills{
    .title{
      gap: 20px;

      hr{
        width: 40px;
      }
    }
    .skills{
      grid-template-columns: 1fr;

      article{
        border-right: 0;
        border-bottom: 1px solid var(--green);

        &:nth-child(4){
          border-bottom: 0;
        }
      }
    }
  }

  /* Section 3 : Clients */

  #clients{
    .container-1440{
      .clients{
        grid-template-columns: 1fr;
      }
    }
  }

  /* Section 4 : Projects */

  #projects{
    .title{
      gap: 15px;

      hr{
        width: 30px;
      }
    }

    .projects{
      grid-template-columns: 1fr;

      img{
        grid-column: 1;
      }
    }
  }

  /* Section 5 : Contact us */

  #contact-us{
    .container-1440{
      .contact-us{
        article,
        form{
          padding: 20px;
        }
      }
    }
  }
}